@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer components {
  .centeralizer {
    @apply flex justify-center items-center;
  } 
  .link {
    @apply cursor-pointer hover:underline transition-all
  }
  .button {
    @apply p-2 text-xs font-semibold md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-100  active:from-yellow-500 transition duration-100 hover:opacity-90 
  }

}